<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 引入log4j2的配置文件  -->
	<settings>  
        <setting name="logImpl" value="LOG4J2"/>  
   	 </settings>
	
	<plugins>
		<!-- 配置分页插件 -->
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库         -->
        	<property name="dialect" value="mysql"/>
			<!--该参数默认为false，设置为true，使用RowBounds分页会进行count查询-->
			<property name="rowBoundsWithCount" value="true"/>
		</plugin>

		<!--配置通用mapper-->
		<plugin interceptor="com.github.abel533.mapperhelper.MapperInterceptor">
			<!--主键自增回写方法，默认值为MYSQL-->
			<property name="IDENTITY" value="MYSQL"></property>
			<!--通用mapper接口，多个接口之间用逗号隔开-->
			<property name="mappers" value="com.github.abel533.mapper.Mapper"></property>
		</plugin>
	</plugins>
</configuration>