<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>clusterNode1</servlet-name>
    <servlet-class>com.mengfei.cluster.ClusterNodeServlet</servlet-class>
    <init-param>
      <param-name>nodeId</param-name>
      <param-value>1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>clusterNode1</servlet-name>
    <url-pattern>/clusterNode1</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>clusterNode2</servlet-name>
    <servlet-class>com.mengfei.cluster.ClusterNodeServlet</servlet-class>
    <init-param>
      <param-name>nodeId</param-name>
      <param-value>2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>clusterNode2</servlet-name>
    <url-pattern>/clusterNode2</url-pattern>
  </servlet-mapping>
</web-app>
